
<div class="row col-md-12">
    <h1 class="text-center wight">Recipes
  
      <div class="pull-right">
        <% if !current_chef.nil? %>
          <%= link_to "New Recipe",
                  new_recipe_path,
                  :class => 'btn btn-xs btn-primary' %>
        <% end %>
    
      </div>
    </h1>
</div>
<div class="clearfix"></div>
<% @category_recipes.each do |recipe| %>
  <div class="panel panel-wall panel-default">
      <div class="panel-heading">
        <%= link_to "#{recipe.title}", recipe_path(recipe) %>
        &nbsp;
        <%= link_to like_recipe_path(recipe, :like => true),method: :post do %>
          <i class="glyphicon glyphicon-thumbs-up"></i>&nbsp; <%= recipe.thumbs_up_total %>
        <% end %>&nbsp;
        <%= link_to like_recipe_path(recipe, :like => false),method: :post do %>
          <i class="glyphicon glyphicon-thumbs-down"></i>&nbsp; <%= recipe.thumbs_down_total %>
        <% end %>
        <div class="pull-right">
          <% if current_chef && current_chef.id == recipe.chef_id %>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_recipe_path(recipe), :class => 'btn btn-default btn-xs' %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        recipe_path(recipe),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-xs btn-danger' %>
          <% end %>
        </div>
      </div>
        <div class="row panel-bodying">
          
          <div class="col-md-9 col-md-offset-1">
            
            <br />
            <h5>SUMMARY:</h5>
            <div class="well well-sm">
              <p><%= recipe.summary %></p>
            </div>
            <div class="well well-sm">
             <%# if recipe.categories.any? %>
              <p>Categories: <%= render recipe.categories %></p>
            <%# end %>
            </div>
            <div class="well well-sm col-md-12 ">
              <%= image_tag(recipe.picture.url, :class => "img img-responsive pull-center") if recipe.picture? %>
            </div>
            <h6>DESCRIPTION:</h6>
            <div class="well well-sm">
               
               <%= recipe.description %>
            </div>
            <br />
          </div>
          <br/>
          <div class="col-md-2 text-danger text-center">
            <%= link_to  chef_path(recipe.chef_id) do %>
              <%=  gravatar_for(recipe.chef, size: 120) %>
              <p>
                <%= "#{recipe.chef.frist_name} #{recipe.chef.last_name}" %>
              </p>
            <% end %>
          </div>
        </div>
      
  </div>
<% end %>
