<div class="panel panel-info">
    
      <h1 class="text-center panel-heading">Categires
        <div class="pull-right">
          <%= link_to t('.new', :default => t("helpers.links.new")),
                new_category_path,
                :class => 'btn btn-primary btn-xs' %>
        </div>
      </h1>
      <div class="panel-bodying">
        <table class="table">
          <% @categories.each do |category| %>
            <tr>
              <td class="col-md-10"><%= link_to category.name, category_path(category) %></td>
              <td class="col-md-2">
                <%= link_to t('.edit', :default => t("helpers.links.edit")),
                              edit_category_path(category), :class => 'btn btn-default btn-xs' %>
                <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                              category_path(category),
                              :method => :delete,
                              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                              :class => 'btn btn-xs btn-danger' %>
                
              </td>
            </tr>
          <% end %>
        </table>
      </div>
</div>

<%= link_to "< Back to HomePage",
                  root_path, :class => 'btn btn-default'  %>